#header{
    height: 315px;
    width: 100%;
    background-color: #ffffff;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;   
    color: #000;
}

.top{
    height: 100px;
    width: 100%;  
    padding: 20px 30px;
}

.subtitle{
    height: 100px;
    width: 100%;
    font-size: 68px;
    padding: 18px;
    line-height: 70px;
}

#container1{
    height: 400px;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;  
}

.service1{
    height: 350px;
    width: 350px;
    background-color: #133550;
    border-radius: 10px;
}

.service1 h4{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}
.service1 p{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}

.service2{
    height: 350px;
    width: 350px;
    background-color: #133550;
    border-radius: 10px;
}

.service2 h4{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}
.service2 p{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}

.service3{
    height: 350px;
    width: 350px;
    background-color: #133550;
    border-radius: 10px;
}

.service3 h4{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}
.service3 p{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}

#container2{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal; 
    color: #fff8f8;
}

.service4{
    height: 350px;
    width: 350px;
    background-color: #133550;
    margin-left: 20px;
    border-radius: 10px;
}

.service4 h4{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}
.service4 p{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}

.service5{
    height: 350px;
    width: 350px;
    background-color: #133550;
    border-radius: 10px;
}

.service5 h4{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}
.service5 p{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}

.service6{
    height: 350px;
    width: 350px;
    background-color: #133550;
    margin-right: 20px;
    border-radius: 10px;
}

.service6 h4{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}
.service6 p{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}
